// # Media Queries
//
// ## Breakpoints (Window Size)
//
// 0-480   : [Smartphone]
//           iPhone3/4/5(Portrait), iPhone3/4(Landscape)
//           Most Android Phone(Portrait)
// 481-800 : [Tablet, Smartphone(Landscape)]
//           iPhone5(Landscape), iPad(Portrait)
//           Most Android Phone(Landscape)
//           Newer Android Tablet(Portrait)
// 801+    : Default, iPad(Landscape), Newer Android Tablet(Landscape)
//  OR 801-1024
// 1025+   : Large Window Size, Newer Android Tablet(Landscape)

// ## Variables
$mq-all: null !default;
$mq-sp: null !default;
$mq-tablet: null !default;
$mq-default: null !default;
$mq-large: null !default;

$default-mq-sp-max-width: 480px !default;
$default-mq-tablet-min-width: $default-mq-sp-max-width + 1 !default;
$default-mq-tablet-max-width: 800px !default;
$default-mq-default-min-width: $default-mq-tablet-max-width + 1 !default;
$default-mq-large-min-width: 1025px !default;
$default-mq-default-max-width: null !default;
// $default-mq-default-max-width: $default-mq-large-min-width - 1 !default;

// ## Wrapper
@mixin mq {
	@include mq-all {
		@content;
	}
	// @include mq-large   { @content; }
	@include mq-default {
		@content;
	}
	@include mq-tablet {
		@content;
	}
	@include mq-sp {
		@content;
	}
}

// ## For All
@mixin mq-all {
	$_tmp: $mq-all;
	$mq-all: true;
	@content;
	$mq-all: $_tmp;
}

// ## For Smartphones
@mixin mq-sp($max: $default-mq-sp-max-width) {
	$_tmp: $mq-sp;
	$mq-sp: true;
	@media only screen and (max-width: #{$max}) {
		@content;
	}
	$mq-sp: $_tmp;
}

// ## For Tablets
@mixin mq-tablet($min: $default-mq-tablet-min-width,
$max: $default-mq-tablet-max-width) {
	$_tmp: $mq-tablet;
	$mq-tablet: true;
	@media only screen and (min-width: #{$min}) and (max-width: #{$max}) {
		@content;
	}
	$mq-tablet: $_tmp;
}

// ## For PC (default)
@mixin mq-default($min: $default-mq-default-min-width,
$max: $default-mq-default-max-width) {
	$_tmp: $mq-default;
	$mq-default: true;
	$_breakpoint: "(min-width:#{$min}) ";
	@if not($max == null) {
		$_breakpoint: $_breakpoint + "and (max-width:#{$max}) ";
	}
	@media only screen and
		#{$_breakpoint} {
			@content;
		}
	$mq-default: $_tmp;
}

// ## For Large Window
@mixin mq-large($min: $default-mq-large-min-width) {
	$_tmp: $mq-large;
	$mq-large: true;
	@media only screen and (min-width: #{$min}) {
		@content;
	}
	$mq-large: $_tmp;
}