$content_w: 960px;

$font-def: 15px;
$font-m1: 13px;
$font-m2: 12px;
$font-m3: 10px;
$font-p1: 16px;
$font-p2: 18px;
$font-p3: 22px;

$col_key: #56bca3;
$col_key_light1: #86d8c4;
$col_key_light2: #e2efec;
$col_key_dark1: #4ca791;
$col_key_dark2: #4ca791;
$col_link: #ff9900;
$col_border1: #dddddd;
$col_border2: #cee0dc;