@import "vars";
@import "base";
@import "mq";
@import "compass";



/************************************************************************************************
	Base
*/


.page-container {

}




/************************************************************************************************
	Elements Format
*/


p {
	font-size: $font-def;
	line-height: 1.85em;
}


//Button
.link-btn {
	display: inline-block;
	background: url(img/link_btn_bg.jpg) repeat-x bottom center #fff;
	border: 1px solid #ebebeb;
	padding: 14px 10px 14px 5px;
	text-align: left;
	@include font-m1;
	@include link-noeffect();
	@include border-radius(5px);
	@include box-shadow(#bbb 1px 1px 1px);
	a {
		display: block;
		font-weight: bold;
		line-height: 1.2em;
		background: url(img/arrow_a.png) no-repeat 5px center;
		padding-left: 24px;
		@include background-size(12px,12px);
	}

}

//Table
.table-container {
	border: 1px solid #ddd;
	@include border-radius(5px);
}

.table-style1 {
	width: 100%;
	th, td {
		font-size: 14px;
	}
	th {
		padding: 6px;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		width: 200px;
		text-align: left;
		background: #f8f8f8;
	}
	td {
		padding: 6px;
		border-bottom: 1px solid #ddd;
		background: #fff;
	}
	tr:first-child {
		th {
			@include border-radius(5px 0 0 0);
		}
		td {
			@include border-radius(0 5px 0 0);
		}
	}
	tr:last-child {
		th {
			@include border-radius(0 0 0 5px);
			border-bottom: none;
		}
		td {
			@include border-radius(0 0 5px 0);
			border-bottom: none;
		}
	}
}

.th-sp {
	display: inline-block;
	width: 20px;
	text-align: center;
}

input,textarea {

}


//Arrows
.arrow-a {

}
.arrow-a-r {
	padding-right: 18px;
	background: url(img/arrow_a.png) right center no-repeat;
	@include background-size(12px,12px);

}
.arrow-top {
	padding-right: 18px;
	background: url(img/arrow_top.gif) right center no-repeat;
}

//Mat
.mat-key {
	background: $col_key_light2;
	padding: 10px;
}
//List
.list-def {
	margin:0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
}

.list-il {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style-type: none;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	li:nth-child(2n) {
		margin-right: 0
	}
	@include mq-sp {
		li {
			display: block;
		}
	}
}

//border

.border-a {
	border: 5px solid $col_border1;
	@include mq-sp {
		border: none;
	}
}

.border-b {
	border: 1px solid #ddd;
	@include mq-sp {
		border: none;
	}
}
//round
.round-a {
	@include border-radius(5px);
}

/************************************************************************************************
	Row Format
*/
.content {
	width: 90%;
	max-width: $content_w;
	@include centering;
}
.row-2 {
	padding-right: 20px; //Default
	@include clearfix;
	//各要素でpadding-rightを設定
}
.row-3 {
	padding-right: 40px;
	@include clearfix;
}

.col-2 {
	width: 50%;
	float: left;
	margin-right: 20px;
}
.col-3 {
	width: 33.3%;
	float: left;
	margin-right: 20px;
}

.last-2 {
	margin-right: -20px;
}
.last-3 {
	margin-right: -40px;
}
//media-queries

@include mq-sp {
	.row-2 {
		padding-right: 0
	}
	.row-3 {
		padding-right: 0;
	}
	.col-2,
	.col-3 {
		margin-top: 20px;
		width: 100%;
		float: none;
		margin-right: 0
	}
	.col-2:first-child,
	.col-3:first-child {
		margin-top: 0;
	}
}
.w10p { width: 10%; }
.w20p { width: 20% ; }
.w25p { width: 25% ; }
.w30p { width: 30% ; }
.w40p { width: 40% ; }
.w50p { width: 50% ; }
.w60p { width: 60% ; }
.w70p { width: 70% ; }
.w80p { width: 80% ; }
.w90p { width: 90% ; }
.w100p { width: 100% ; }
@include mq-sp {
	.w10p {width: 100%;}
	.w20p {width: 100%;}
	.w25p {width: 100%;}
	.w30p {
		width: 100%;
	}
	.w40p {
		width: 100%;
	}
	.w50p {
		width: 100%;
	}
	.w60p {
		width: 100%;
	}
	.w70p {
		width: 100%;
	}
	.w80p {
		width: 100%;
	}
	.w90p {
		width: 100%;
	}
	.w100p {
		width: 100%;
	}
}

/************************************************************************************************
	Head Format
*/
h1 {

}
h2 {

}
h3 {
	margin: 0;
	background: $col_key;
	padding: 10px;
	.inner {
		display: block;
		border-left: 5px solid #fff;
		padding-left: 7px;
		padding-right: 7px;
		@include font-p1;
		color: #fff;
		font-weight: bold;
		line-height: 1.3em;
	}

}



//Header ***********************


header#pc {

	@include mq-sp {
		display: none;
	}

	background: url(img/header_nav_bg.gif) repeat-x bottom center;
	.header-inner {
		max-width: $content_w;
		@include centering;
		.upper {
			h1 {
				width: 134px;
				text-align: center;
				float: left;
				margin-bottom: 0;
			}
			@include mq-tablet {
				h1 {
					margin-left: 10px;
				}
			}
		}
		.unav {
			float: left;
			width: 100%;
			margin-left: -134px;
			ul {
				text-align: right;
				li {
					display: inline-block;
				}
			}
			@include mq-tablet {
				margin-left: -144px;
			}
		}

		.header-nav {
			margin-top: 0;
			background: url(img/header_nav_inner_bg.gif) repeat-x;
			@include clearfix;
			height: 58px;
			ul {
				margin: 0;
				padding:0;
				li {
					list-style-type: none;
					padding: 0;
					margin: 0;
					width: 33.3%;
					float: left;
					.inner {
						text-align: center;
						height: 58px;
						margin-left:1px;
					}
					.nav-ind {background: url(img/header_nav_ind_bg.gif) repeat-x;}
					.nav-biz {background: url(img/header_nav_biz_bg.gif) repeat-x;}
					.nav-kanden {background: url(img/header_nav_kanden_bg.gif) repeat-x;}
				}

			}
		}

	}
}

//SP Header

header#sp-header {
	display: none;
	@include mq-sp {
		display: block;
	}
	background: #fff;
	position: fixed;
	width: 100%;
	top:0;
	.header-inner {

		@include clearfix;
		h1 {
			margin: 0;
			margin-left: 10px;
			float: left;

		}
		.head-nav {
			float: right;
			width: 140px;

			ul {
				margin: 0;
				padding: 0;
				text-align: right;
				li {
					display: inline-block;
					margin: 0 0 0 1px;
					padding: 0;
				}
			}
		}

	}
	#dd-search-container {
		position: absolute;
		width: 100%;
		display: none;
	}
	#dd-menu-container {
		position: absolute;
		width: 100%;
		display: none;
	}
	#dd-menu {

		.dd-level1 {
			margin: 0;
			padding: 0;
			li {
				@include link-noeffect;
				list-style-type: none;
				font-weight: bold;
				border-bottom: 1px solid $col_border2;
				padding: 8px 0 8px 30px;
				background: url(img/sp_arrow_a.png) no-repeat 10px center $col_key_light2;
				@include background-size(14px,13px);
			}
			.activity {

				text-align: center;
				font-weight: bold;
				background: url(img/sp_head_activity.png) #acd373 no-repeat 10px center;
				@include background-size(29px,31px);
				a:link,
				a:active,
				a:visited,
				a:hover {
					color: #fff;
				}
			}
		}
		.dd-level2 {
			@include clearfix;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				float: left;
				width: 49.5%;
				@include link-noeffect;
				list-style-type: none;
				border-bottom: 1px solid $col_border1;
				padding: 5px 0;
				text-align: center;
				background-color: #f7f7f7;
				@include font-m1;
			}
			li:nth-child(2n) {
				border-left: 1px solid $col_border1;
			}
			.ind,
			.biz {
				background-repeat: no-repeat;
				background-position: 10px center;
				@include background-size(20px,20px);
			}
			.ind {
				background-image: url(img/sp_head_ind.png);
			}
			.biz {
				background-image: url(img/sp_head_biz.png);
			}
		}
	}
	#dd-search {

		padding:10px;
		background: $col_key_light2;
	}
}

//Footer ***********************
footer {
	margin-top: 10px;
	border-top: 3px solid #ccc;
	background: #f3f3f3;
	padding-bottom: 15px;
	.footer-nav {
		.list-il {
			@include link-reverse;
			@include font-m2;

		}
		li:first-child {
			padding-right: 10px;
			border-right: 1px solid #ccc;
		}
	}
	small {
		display: block;
		width: 100%;
		text-align: right;
		@include font-m3;
	}
	.footer-logo {
		margin-top: 10px;
		text-align: right;
	}
	@include mq-tablet {
		text-align: center;
		.footer-nav {
			display: inline-block;
		}
		small {
			text-align: center;
		}
		.footer-logo {
			text-align: center;
		}
		.col-2 {
			width: 100%;
			float: none;
		}
	}
	@include mq-sp {
		text-align: center;
		.footer-nav {
			li {
				margin: 0 0 5px 0;
			}
			li:first-child {
				border: none;
				padding: 0;
			}
		}
		small {
			text-align: center;
		}
		.footer-logo {
			text-align: center;
		}
	}
}

.pagetop {
	margin-top: 30px;
	@include font-m2;
	@include link-reverse;
	text-align: right;
}

// 00 Index *+************+************+************+************+***********
#index {


	.main-text-area {
		background: url(../../img/index_main_bg.jpg) repeat-x #ebf8f5;
		height: 288px;
		padding-top: 40px;
		.text1 {
			text-align: center;
		}
		.text2 {
			max-width: 640px;
			@include border-radius(6px);
			padding: 2px;
			color: #fff;
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
			text-align: center;
			@include font-p1;
			@include centering;
			background: $col_key;
			border: 5px solid $col_key_light1;
		}
		.text3 {
			max-width: 640px;
			text-align: right;
			@include centering;

		}
		@include mq-sp {
			.text1 img {
				width: 90%;
			}
			.text2,
			.text3 {
				width: 80%;
			}
		}
	}
	.sec01 {

	}
	.sec02 {
		.list-def {
			margin: 10px;
		}
		.link-btn {
			width: 90%;
		}
		#top-mov {
			margin-top: 20px;
			width: 80%;
			@include centering;
		}
	}
	.sec03 {
		.col1 {
			background: #fff;
			@include mq-sp {
				background: none;
				.list-il {
					margin: 0;
					text-align: center;
					li {
						margin-bottom: 10px;
						display: inline-block;
						margin-right: 0;
					}
				}
			}
		}
		.col2 {

			@include mq-sp {
				.list-il {
					text-align: center;
					li {
						margin-bottom: 10px;
						display:inline-block;
						margin-right: 0;
					}
				}
			}
		}

	}
}

.phone-area {
	border: 1px solid #ddd;
	.phone-inner {
		padding: 20px;
		@include mq-sp {
			padding: 10px;
		}
	}
	.phone {
		font-weight: bold;
		background: url(img/ic_freedial.png) no-repeat left center;
		padding-left: 54px;
		padding-bottom: 10px;
		border-bottom: 1px dotted #ddd;
		@include link-noeffect;
		@include a-color($col_link);

		.num {	color: $col_link;}
		@include mq-sp {display:none;}

	}
	.sp-phone {
		@include link-noeffect;
		@include a-color($col_link);

		font-weight: bold;
		.num {color: $col_link;}
		display: none;
		@include mq-sp {
			display: block;
		}
		.phone-tit {
			@include font-def;
			background: url(img/arrow_close.png) no-repeat right center;
			@include background-size(12px, 12px);
			padding: 10px 0;
		}
		.phone-close {
			background-image: url(img/arrow_open.png)
		}
	}
	.fax {
		margin-top: 10px;
		font-weight: bold;
		background: url(img/ic_fax.png) no-repeat left center;
		padding-left: 54px;
		@include mq-sp {
			background: none;
			padding-left: 0;
		}
	}
	.date {
		@include font-p2;
		@include mq-sp {
			@include font-m1;
		}
	}
	.label {
		color: #666;
		@include mq-sp {
			@include font-m2;

		}
	}
}