$content_w: 960px;

/*$font-def: 15px;
$font-m1: 13px;
$font-m2: 12px;
$font-m3: 11px;
$font-p1: 16px;
$font-p2: 18px;
$font-p3: 22px;*/

$font-def: 0.938em;
$font-m1: 0.813em;
$font-m2: 0.75em;
$font-m3: 0.688em;
$font-p1: 1em;
$font-p2: 1.125em;
$font-p3: 1.375em;

$col_key: #4f7ee7;
$col_key_light1: #7099f3;
$col_key_light2: #ebeff8;
$col_key_dark1: #386cdf;
$col_key_dark2: #2d56b2;
$col_link: #ff9900;
$col_border1: #dddddd;
$col_border2: #d9dde5;
$col_table_em: #ff0000;