@import "vars";


body {
	margin: 0;
	padding: 0;
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

@mixin font-min {
	font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
	font-weight: normal;
}

.font-min {
	@include font-min;
}

@mixin font-en {
	font-family: 'Cantata One', serif;
}

.font-en {
	@include font-en;
}



input[type="text"].s30 {
	width: 30px;
}

input[type="text"].s50 {
	width: 50px;
}

input[type="text"].s80 {
	width: 80px;
}

input[type="text"].s100 {
	width: 100px;
}

input[type="text"].s180 {
	width: 180px;
}

input[type="text"].s200 {
	width: 200px;
}

input[type="text"].s260,
input[type="password"].s260 {
	width: 260px;
}

input[type="text"].s320 {
	width: 320px;
}

input[type="text"].s600 {
	width: 600px;
}

th.s30, td.s30 {
	width: 30px;
}

th.s60, td.s60 {
	width: 60px;
}

th.s100, td.s100 {
	width: 100px;
}

th.s120, td.s120 {
	width: 120px;
}

th.s200, td.s200 {
	width: 200px;
}

th.s320, td.s320 {
	width: 320px;
}

textarea.s320 {
	width: 320px;
}





/* //////////////////////////////////////////////////////////// anchor */

a:link,
a:visited,
a:active {
	color: #333;
}

a:link {
	text-decoration: underline;
}

a:hover, a:active {
	color: #999;
	text-decoration: none;
}



/* //////////////////////////////////////////////////////////// fontsize */

p, li, dt, dd, th, td {
	line-height:1.6em;

}
p, h1, h2, h3, h4, li{
	font-weight: normal;
}
p {
	margin-bottom: 0.75em;
}

/* //////////////////////////////////////////////////////////// Base */

/*li {
	float:left;
}*/

img {
	vertical-align:top;
}
ul li img,
dl dt img,
dl dd img{
	vertical-align:bottom;
}

object {
	vertical-align:top;
}



/* //////////////////////////////////////////////////////////// HHH */

$mspan: 5;

@for $i from 0 through 20 {

	.mt#{$i*$mspan}{
		margin-top:#{$mspan*$i}px !important;
	}
}

@for $j from 0 through 20 {

	.mb#{$j*$mspan}{
		margin-bottom:#{$mspan*$j}px !important;
	}
}
@for $k from 0 through 20 {

	.mr#{$k*$mspan}{
		margin-right:#{$mspan*$k}px !important;
	}
}
@for $l from 0 through 20 {

	.ml#{$l*$mspan}{
		margin-left:#{$mspan*$l}px !important;
	}
}

@for $m from 0 through 50 {

	.w#{$m*10} {
		width: #{10*$m}px !important;
	}
}



/* //////////////////////////////////////////////////////////// Utility */
/* = Selected Text */


::selection {
	background: $col_key_light2;
	/* Safari */
}

::-moz-selection {
	background: $col_key_light2;
}

.notice {
	color: #ff0000;
}

.error {
	color: #ff0000;
}
