@import "vars";
@import "base";
@import "mq";
@import "compass";



/************************************************************************************************
	Base
*/


body.local-page .content-wrapper {
	margin-top: 30px;
	max-width: $content_w;
	@include centering;
}
#local-content {
	max-width: 700px;
	margin-left: 250px;
	min-height: 600px;
	@include mq-default {
		padding-right: 10px;
	}
	@include mq-sp {
		width: 90%;
		margin-top: 20px;
		@include centering;
	}
	@include mq-tablet {
		width: 90%;
		margin-top: 20px;
		@include centering;
	}
}

#page-container.popup-page .header-wrapper,
#page-container.popup-page .content-wrapper {
	width: 90%;
	@include centering;
}

/************************************************************************************************
	Tab Menu
*/
.tab-menu {
	letter-spacing: -.40em;
	border-bottom: 3px solid $col_key;
	padding: 0;
	li {
		background-color: $col_key_light2;
		display: inline-block;
		@include font-m1;
		letter-spacing: normal;
		line-height: 1.1em;
		margin-right: 3px;
		vertical-align: middle;
		@include border-radius(3px 3px 0 0);
		@include link-noeffect;
		&.crnt {
			background-color: $col_key;
			color: #ffffff;
			font-weight: bold;
			padding: 16px 10px 14px;
		}
		a {
			display: inline-block;
			padding: 16px 10px 14px;
		}
	}
	@include mq-tablet {
		border: none;
		li {
			background-color: #ffffff;
			border: 1px solid #ddd;
			@include font-def;
			margin: -1px 0 0;
			text-align: center;
			width: 49.5%;
			@include border-radius(0);
			&:nth-child(2n) {
				margin-left: -1px;
			}
			&.crnt {

				padding: 10px 0;
			}
			a {

				padding: 10px 0;
				width: 100%;
			}
		}
	}
	@include mq-sp {
		border: none;
		li {
			background-color: #ffffff;
			border: 1px solid #ddd;
			@include font-m2;
			margin: -1px 0 0;
			text-align: center;
			width: 49.5%;
			@include border-radius(0);
			&:nth-child(2n) {
				margin-left: -1px;
			}
			&.crnt {
				height: 2em;
				padding: 10px 0;
			}
			a {
				height: 2em;
				padding: 10px 0;
				width: 100%;
			}
			.br {
				display: block;
			}
		}
	}
}


/************************************************************************************************
	Elements Format
*/


p {
	font-size: $font-def;
	line-height: 1.75em;
}


//Button
.link-btn {
	display: inline-block;
	background: url(img/link_btn_bg.jpg) repeat-x bottom center #fff;
	border: 1px solid #ebebeb;
	padding: 14px 10px 14px 5px;
	text-align: left;
	@include font-m1;
	@include link-noeffect();
	@include border-radius(5px);
	@include box-shadow(#bbb 1px 1px 1px);
	a {
		display: block;
		font-weight: bold;
		line-height: 1.2em;
		background: url(img/arrow_a.png) no-repeat 5px center;
		background: url(img/arrow_a_s.png) no-repeat 5px center\9;
		padding-left: 24px;
		@include background-size(12px,12px);
	}

}

.link-btn.inline {

}

//Table
.table-wrapper {
	border: 1px solid #333;
}

.table-style1 {
	width: 100%;
	th, td {
		@include font-m1;
	}
	th {
		padding: 6px;
		font-weight: normal;
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
		width: 200px;
		text-align: center;
		background: #f7c669;
	}
	th.light {
		color: #000 !important;
		background: #f7c669 !important;
	}
	td {
		text-align: right;
		padding: 6px;
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
		background: #faf5cb;
	}
	th:last-child,
	td:last-child {
		border-right: none
	}
	tr:first-child {
		th {
			color: #000;
			background: #f7c669;
		}
	}
	tr:last-child {
		th,td {
			border-bottom: none;
		}
	}
	th.em-t,td.em-t {
		border-top: 1px solid $col_table_em;
	}
	th.em-l,td.em-l {
		border-left: 1px solid $col_table_em;
	}
	th.em-r,td.em-r {
		border-right: 1px solid $col_table_em;
	}
	th.em-b, td.em-b {
		border-bottom: 1px solid $col_table_em;
	}
}

.th-sp {
	display: inline-block;
	width: 20px;
	text-align: center;
}

input,textarea {

}


//Arrows
.arrow-a {
	padding-left: 18px;
	background: url(img/arrow_a.png) left center no-repeat;
	background: url(img/arrow_a_s.png) no-repeat 5px center\9;
	@include background-size(12px, 12px);

}
.arrow-a-r {
	padding-right: 18px;
	background: url(img/arrow_a.png) right center no-repeat;
	background: url(img/arrow_a_s.png) no-repeat right center\9;
	@include background-size(12px,12px);

}
.arrow-top {
	padding-right: 18px;
	background: url(img/arrow_top.png) right center no-repeat;
	background: url(img/arrow_top_s.png) right center no-repeat\9;
	@include background-size(12px, 12px);
}

.arrow-btm {
	padding-right: 18px;
	background: url(img/arrow_btm.png) right center no-repeat;
	background: url(img/arrow_btm_s.png) right center no-repeat\9;
	@include background-size(12px, 12px);
}
.arrow-btm-l {
	padding-left: 18px;
	background: url(img/arrow_btm.png) left center no-repeat;
	background: url(img/arrow_btm_s.png) left center no-repeat\9;
	@include background-size(12px, 12px);
}

//Mat
.mat-key {
	background: $col_key_light2;
	padding: 10px;
}
//List
.list-def {
	margin:0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 10px;

	}
}
.list-decimal {
	margin:20px 0 0 20px;
	padding: 0;

	li {
		list-style-type: decimal;
		margin-bottom: 5px;
	}
}
.list-il {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style-type: none;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	li:nth-child(2n) {
		margin-right: 0
	}
	@include mq-sp {
		li {
			display: block;
		}
	}
}

.list-il.cols2 {//2列リスト
	padding: 30px 20px 10px 20px;
	margin: 0;
	li {
		width: 49%;
		margin-right: 0px;
		.link-btn {
			width: 90%;
		}
	}

	@include mq-tablet {

		li:last-child {
			.link-btn {
				font-size: 14px !important;
				width: 90%;
			}
			width: 49%;
		}
	}
	@include mq-sp {
		padding: 10px 10px;
		li {
			.link-btn {
				width: 95%;
			}
			width: 100%;
			margin-right: 0;
		}
		li:last-child {
			.link-btn {
				width: 95%;
			}
			width: 100%;
		}
	}
}
.list-il.cols3 { //3列リスト
	padding: 30px 20px 10px 20px;
	margin: 0;
	li {
		width: 31%;
		margin-right: 10px;
		.link-btn {
			width: 90%;
		}
	}

	@include mq-tablet {
		li {
			.link-btn {
				width: 90%;
			}
			width: 49%;
			margin-right: 0;
		}
		li:nth-child(2n) {

		}
		li:last-child {
			.link-btn {
				font-size: 14px !important;
				width: 90%;
			}
			width: 49%;
		}
	}
	@include mq-sp {
		padding: 10px 10px;
		li {
			.link-btn {
				width: 95%;
			}
			width: 100%;
			margin-right: 0;
		}
		li:last-child {
			.link-btn {
				width: 95%;
			}
			width: 100%;
		}
	}
}

//border

.border-a {
	border: 5px solid $col_border1;
	@include mq-sp {
		border: none;
	}
}

.border-b {
	border: 1px solid #ddd;
	@include mq-sp {
		border: none;
	}
}
//round
.round-a {
	@include border-radius(5px);
}

/************************************************************************************************
	Row Format
*/
.content {
	width: 90%;
	max-width: $content_w;
	@include centering;
}
.row-2 {
	padding-right: 20px; //Default
	@include clearfix;
	//各要素でpadding-rightを設定
}
.row-3 {
	padding-right: 40px;
	@include clearfix;
}

.col-2 {
	width: 50%;
	float: left;
	margin-right: 20px;
}
.col-3 {
	width: 33.3%;
	float: left;
	margin-right: 20px;
}

.last-2 {
	margin-right: -20px;
}
.last-3 {
	margin-right: -40px;
}
//media-queries

@include mq-sp {
	.br {
		display: inline-block;
	}
	.row-2 {
		padding-right: 0
	}
	.row-3 {
		padding-right: 0;
	}
	.col-2,
	.col-3 {
		margin-top: 20px;
		width: 100%;
		float: none;
		margin-right: 0
	}
	.col-2:first-child,
	.col-3:first-child {
		margin-top: 0;
	}
}
.w10p { width: 10%; }
.w20p { width: 20% ; }
.w25p { width: 25% ; }
.w30p { width: 30% ; }
.w40p { width: 40% ; }
.w50p { width: 50% ; }
.w60p { width: 60% ; }
.w70p { width: 70% ; }
.w80p { width: 80% ; }
.w90p { width: 90% ; }
.w100p { width: 100% ; }
@include mq-sp {
	.w10p {width: 100%;}
	.w20p {width: 100%;}
	.w25p {width: 100%;}
	.w30p {
		width: 100%;
	}
	.w40p {
		width: 100%;
	}
	.w50p {
		width: 100%;
	}
	.w60p {
		width: 100%;
	}
	.w70p {
		width: 100%;
	}
	.w80p {
		width: 100%;
	}
	.w90p {
		width: 100%;
	}
	.w100p {
		width: 100%;
	}
}

/************************************************************************************************
	Head Format
*/
h1 {

}
#print-h1 {
	display: none;
}
.local-page h2 {
	background: url(img/head_bg_a.png) $col_key;
	padding: 15px;
	@include border-radius(5px);
	@include font-p2;
	.inner {
		border-left: solid 5px #fff;
		color: #fff;
		font-weight: bold;
		line-height: 1.3em;
		padding-left: 6px;
	}
}

h2 {

}
h3 {
	margin: 0;
	background: url(img/head_bg_a.png) $col_key;
	padding: 10px;
	@include font-p1;
	.inner {
		display: block;
		border-left: 5px solid #fff;
		padding-left: 7px;
		padding-right: 7px;
		color: #fff;
		font-weight: bold;
		line-height: 1.3em;
	}

}
h4 {
	@include font-def;
	border-left: 5px solid $col_key;
	font-weight: bold;
	line-height: 1.3em;
	padding-left: 12px;
}


//Header ***********************


header#pc {

	@include mq-sp {
		display: none;
	}
	@include mq-tablet {
		display: none;
	}

	background: url(img/header_nav_bg.gif) repeat-x bottom center;
	.header-inner {
		max-width: $content_w;
		@include centering;
		.upper {
			h1 {
				width: 134px;
				text-align: center;
				float: left;
				margin-bottom: 0;
			}
			@include mq-tablet {
				h1 {
					margin-left: 10px;
				}
			}
		}
		.unav {
			float: left;
			width: 100%;
			margin-left: -134px;
			ul {
				text-align: right;
				li {
					display: inline-block;
				}
			}
			@include mq-tablet {
				margin-left: -144px;
			}
		}

		.header-nav {
			margin-top: 0;
			background: url(img/header_nav_inner_bg.gif) repeat-x;
			@include clearfix;
			height: 58px;
			ul {
				margin: 0;
				padding:0;
				li {
					list-style-type: none;
					padding: 0;
					margin: 0;
					width: 33.3%;
					float: left;
					.inner {
						text-align: center;
						height: 58px;
						margin-left:1px;
					}
					a {
						display: block;
						margin: 0 1px;
					}
					.nav-ind {
						background: url(img/header_nav_ind_bg.gif) repeat-x;
						a.crnt {
							background: url(img/header_nav_ind_current_bg.gif) repeat-x;
						}
					}
					.nav-biz {
						background: url(img/header_nav_biz_bg.gif) repeat-x;
						a.crnt {
							background: url(img/header_nav_biz_current_bg.gif) repeat-x;
						}
					}
					.nav-kanden {background: url(img/header_nav_kanden_bg.gif) repeat-x;}
				}

			}
		}

	}
}

//SP Header

header#sp-header {
	display: none;
	@include mq-sp {
		display: block;
	}
	@include mq-tablet {
		display: block;
	}
	background: #fff;
	position: fixed;
	z-index: 10;
	width: 100%;
	top:0;
	.header-inner {

		@include clearfix;
		h1 {
			margin: 0;
			margin-left: 10px;
			float: left;

		}
		.head-nav {
			float: right;
			width: 140px;

			ul {
				margin: 0;
				padding: 0;
				text-align: right;
				li {
					display: inline-block;
					margin: 0 0 0 1px;
					padding: 0;
				}
			}
		}

	}
	#dd-search-container {
		position: absolute;
		width: 100%;
		display: none;
	}
	#dd-menu-container {
		position: absolute;
		width: 100%;
		display: none;
	}
	#dd-menu {

		.dd-level1 {
			margin: 0;
			padding: 0;
			li {
				@include link-noeffect;
				list-style-type: none;
				font-weight: bold;
				border-bottom: 1px solid $col_border2;
				padding: 8px 0 8px 30px;
				background: url(img/sp_arrow_a.png) no-repeat 10px center $col_key_light2;
				@include background-size(14px,13px);
				a {
					display: block;
				}

			}
			.activity {

				text-align: center;
				font-weight: bold;
				background: url(img/sp_head_activity.png) #acd373 no-repeat 10px center;
				@include background-size(29px,31px);
				a:link,
				a:active,
				a:visited,
				a:hover {
					color: #fff;
				}
			}
		}
		.dd-level2 {
			@include clearfix;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				float: left;
				width: 49.5%;
				@include link-noeffect;
				list-style-type: none;
				border-bottom: 1px solid $col_border1;
				padding: 5px 0;
				text-align: center;
				background-color: #f7f7f7;
				@include font-m1;
			}
			li:nth-child(2n) {
				border-left: 1px solid $col_border1;
			}
			.ind,
			.biz {
				background-repeat: no-repeat;
				background-position: 10px center;
				@include background-size(20px,20px);
			}
			.ind {
				background-image: url(img/sp_head_ind.png);
			}
			.biz {
				background-image: url(img/sp_head_biz.png);
			}
		}
	}
	#dd-search {

		padding:10px;
		background: $col_key_light2;
	}
}

.site-title {
	margin: 30px auto;
	max-width: 940px;
	@include mq-tablet {
		margin-top: 75px;
	}
	@include mq-sp {
		margin-top: 75px;
	}
	.inner {
		@include border-radius(5px);
		background: $col_key_light2;
		text-align: center;
		padding: 22px 10px;
		.pc-title {
			img {
				max-width: 589px;
				width: 100%;
			}
			@include mq-sp {
				display: none;
			}
		}
		.sp-title {
			color: $col_key_dark2;
			line-height: 1.5em;
			@include font-p2;
			font-weight: bold;
			display: none;
			@include mq-sp {
				display: block;
			}
		}
	}
}

//Content Nav **********************
#content-nav {
	@include mq-sp {
		display: none
	}
	@include mq-tablet {
		display: none
	}
	border-top: 2px solid $col_key;
	width: 190px;
	margin-left: 10px;
	position: absolute;
	z-index: 100;
	ul.main {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			@include link-noeffect;
			border-bottom: 1px solid #f2f2f2;
			a {
				display: block;
				@include font-m1;
				padding: 15px 0 15px 35px;
				background: url(img/arrow_b.png) no-repeat 15px center;
				background: url(img/arrow_b_s.png) no-repeat 15px center\9;
				@include background-size(14px, 13px);
				line-height: 1.2em;
			}
			a.crnt {
				font-weight: bold;
				color: $col_key;
			}

		}
	}
	ul.banner {
		margin: 20px 0 0 0;
		padding: 0;
		li {
			margin-bottom: 5px;
			list-style-type: none;
		}
	}
}

//Footer ***********************
footer {
	margin-top: 10px;
	border-top: 3px solid #ccc;
	background: #f3f3f3;
	padding-bottom: 15px;
	.footer-nav {
		.list-il {

			@include link-reverse;
			@include font-m2;
			margin: 0;
		}
		li {
			padding:0 10px;
			margin: 0;
			border-right: 1px solid #aaa;
			line-height: 1em;

		}
		li:first-child {
			border-left: 1px solid #aaa;
		}
	}
	small {
		display: block;
		width: 100%;
		@include font-m3;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.footer-logo {
		margin-top: 35px;
		text-align: right;
	}
	@include mq-tablet {
		text-align: center;
		.footer-nav {
			display: inline-block;
		}
		small {
			text-align: center;
		}
		.footer-logo {
			margin-top: 15px;
			text-align: center;
		}
		.col-2 {
			width: 100%;
			float: none;
		}
	}
	@include mq-sp {
		text-align: center;
		.footer-nav {
			margin-top: 15px;
			li:first-child {
				border: none;
			}
			li {
				margin: 8px 0;
				border: none;
				padding: 0;
			}
		}
		small {
			text-align: center;
		}
		.footer-logo {
			margin-top: 15px;
			text-align: center;
		}
	}
}

.pagetop {
	margin-top: 30px;
	font-size: 12px !important;
	@include link-reverse;
	text-align: right;
}

/************************************************************************************************
	PHone Area
*/
.phone-area {
	border: 1px solid #ddd;
	.phone-inner {
		padding: 20px;
		@include mq-sp {
			padding: 10px;
		}
	}
	.phone {
		font-weight: bold;
		background: url(img/ic_freedial.png) no-repeat left top;
		padding-left: 54px;
		padding-bottom: 10px;
		@include link-noeffect;
		@include a-color($col_link);

		.num {
			color: $col_link;
		}

		@include mq-sp {
			display: none;
		}

	}
	.under {
		margin-top: 10px;
		border-top: 1px dotted #ccc;
		padding-top: 10px;
	}
	.sp-phone {
		@include link-noeffect;
		@include a-color($col_link);

		font-weight: bold;

		padding-bottom: 10px;
		.num {
			color: $col_link;
		}
		display: none;
		@include mq-sp {
			display: block;
		}
		.phone-tit {
			@include font-def;
			background: url(img/arrow_close.png) no-repeat right center;
			@include background-size(14px, 14px);
			padding: 10px 0;
		}
		.phone-close {
			background-image: url(img/arrow_open.png);
			background-image: url(img/arrow_open_s.png) \9;
		}
	}
	.fax {
		margin-top: 0px;
		font-weight: bold;
		background: url(img/ic_fax.png) no-repeat left top;
		padding-left: 54px;
		@include mq-sp {
			background: none;
			padding-top: 0;
			padding-left: 0;
		}
	}
	.tel-date {
		line-height: 1.2em;
		@include font-def;
		@include mq-sp {
			display: none;
		}
	}
	.date {
		margin-top: 15px;
		@include font-def;
		@include mq-tablet {
			@include font-m1;
		}
		@include mq-sp {
			@include font-m1;

		}
	}
	.label {
		color: #666;
		line-height: 1.3em;
		@include mq-tablet {
			@include font-m2;
		}
		@include mq-sp {
			@include font-m2;

		}
	}
	@include mq-sp {
		.col-2 {
			margin-top: 0
		}
	}
}

#local-content .phone-area {
	width: 100%;
	.fax {
		.label {
			@include font-m1;
		}
		.br {
			display: inline-block;
		}
	}
}

/************************************************************************************************
	Misc
*/

.textresizer {
	margin: 0;
	padding: 0;
	li {
		cursor: pointer;
		display: inline-block;
		font-size: 11px;
		border: solid 1px #ccc;
		padding: 2px 5px;
		margin-right: 5px;
		font-weight: bold;
		text-decoration: none;
		background: url(img/header_textsize_bg.gif) repeat-x #efefef;
	}
	li.textresizer-active {
		border: solid 1px #7f7f7f;
		background: #999;
		color: #fff;
	}
	li:hover {
		background: #e5e5e5;
		border: solid 1px #cccccc;

	}
}

.fig-wrapper {
	padding: 40px;
	@include mq-sp {
		padding: 10px;
	}

}

.fig-inner {
	@include border-radius(5px);
	padding: 10px;
	text-align: center;
	background: #fff;

	img {
		width: 100%;
		max-width: 580px;
	}
}
.fig-inner2 {
	img {
		width: 100%;
		max-width: 700px !important;
	}
	text-align: center;

}


.borderd-area {
	padding: 10px;
	border: 1px solid $col_border1;
}

.col-keydark {
	color: $col_key_dark2;
}



// 00 Index *+************+************+************+************+***********
#index {

	.main-text-area {

		background: url(../../img/index_main_bg.jpg) repeat-x #ebf8f5;
		margin-top: 20px;
		padding-top: 25px;
		padding-bottom: 10px;
		.text1 {
			text-align: center;
		}
		.text2 {
			max-width: 640px;
			@include border-radius(6px);
			padding: 2px;
			color: #fff;
			font-weight: bold;
			line-height: 1.3em;
			text-align: center;
			@include font-p1;
			@include centering;
			background: $col_key;
			border: 5px solid $col_key_light1;
		}
		.text3 {
			max-width: 640px;
			text-align: right;
			@include centering;

		}
		@include mq-tablet {
			margin-top: 40px;
			.text1 img {
				width: 80%;
			}
			.text2,
			.text3 {
				width: 80%;
			}
		}
		@include mq-sp {
			margin-top: 40px;
			.text1 img {
				width: 90%;
			}
			.text2,
			.text3 {
				width: 80%;
			}
		}
	}
	.sec01 {
		.list-def {
			margin: 10px;
		}
		.link-btn {
			width: 90%;
		}
	}
	.sec02 {
		.list-def {
			margin: 10px;
		}
		.link-btn {
			width: 90%;
		}
		#top-mov {
			margin-top: 20px;
			width: 80%;
			@include centering;
			img {
				width: 100%;
			}
		}
	}
	.sec03 {
		.col1 {
			background: #fff;
			.inner {
				padding: 20px;
			}
			.list-il {
				li {
					width: 48%;
					.link-btn {
						width: 95%;
					}
				}
			}
			@include mq-tablet {
				.list-il {
					li {
						width: 100%;
						margin-bottom: 10px;
						display: inline-block;
						margin-right: 0;
						.link-btn {
							width: 95%;
						}
					}
				}
			}
			@include mq-sp {
				background: none;
				.list-il {
					margin: 0;
					text-align: center;
					li {
						width: 100%;
						margin-bottom: 10px;
						display: inline-block;
						margin-right: 0;
						.link-btn {
							width: 95%;
						}
					}
				}
			}
		}
		.col1 {
			@include mq-tablet {
				width: 70%;
			}
			@include mq-sp {

				margin-bottom: 0px !important;
			}
		}
		.col2 {
			img {
				width: 100%;
			}
			@include mq-tablet {
				width: 30%;
			}
			@include mq-sp {
				text-align: center;
				img {
					width: 80%;
				}
				padding-bottom: 20px;
			}

		}

	}
}

// 01 Goaisatsu *+************+************+************+************+***********
#goaisatsu {
	.fig01 {
		max-width: 220px;
		width: 100%;
	}
}

// 02 Setsumei *+************+************+************+************+***********
#setsumei {



}

// 03 Tanka *+************+************+************+************+***********
#tanka {
	.anchor-link {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			@include link-reverse;
			@include font-m1;
			margin-bottom: 5px;
		}
	}
}


// 04 Shitsumon *+************+************+************+************+***********
.qa {
	border: 1px solid #ddd;
	@include border-radius(3px);
	margin-bottom: 10px;
	h3 {
		background: #ffffff;
		border-left: 50px solid $col_key_light1;
		cursor: pointer;
		@include font-def;
		font-weight: bold;
		line-height: 1.2em;
		padding: 15px 50px 15px 20px;
		margin-right: 12px;
		position: relative;
		span {
			color: #ffffff;
			@include font-p3;
			font-weight: normal;
			left: -33px;
			margin-top: -.48em;
			position: absolute;
			top: 50%;
		}
	}
	.answer {
		display: none;
		border-top: 1px solid #ddd;
		margin: 0;
		padding: 25px;
	}
	&.open h3 {
		background: url(img/arrow_open.png) no-repeat right center;
		background: url(img/arrow_open_s.png) no-repeat right center\9;
		@include background-size(14px, 14px);
	}
	&.close h3 {
		background: url(img/arrow_close.png) no-repeat right center;
		background: url(img/arrow_close_s.png) no-repeat right center\9;
		@include background-size(14px, 14px);
	}

}

// 05 Simulation *+************+************+************+************+***********
#simulation {
	.caution {
		.inner {
			padding: 20px;
		}
		margin-top: 30px;
		border: 1px solid #ddd;
		h3 {
			font-weight: bold;
			background: #ffe036;
			margin:0;
			line-height: 1.3em;
		}
		h4 {
			margin: 0;
			border-left: 5px solid #777;
		}
		p,li {
			@include font-m1;
		}
	}
}