@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.font-min {
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  font-weight: normal;
}

.font-en {
  font-family: 'Cantata One', serif;
}

input[type="text"].s30 {
  width: 30px;
}

input[type="text"].s50 {
  width: 50px;
}

input[type="text"].s80 {
  width: 80px;
}

input[type="text"].s100 {
  width: 100px;
}

input[type="text"].s180 {
  width: 180px;
}

input[type="text"].s200 {
  width: 200px;
}

input[type="text"].s260,
input[type="password"].s260 {
  width: 260px;
}

input[type="text"].s320 {
  width: 320px;
}

input[type="text"].s600 {
  width: 600px;
}

th.s30, td.s30 {
  width: 30px;
}

th.s60, td.s60 {
  width: 60px;
}

th.s100, td.s100 {
  width: 100px;
}

th.s120, td.s120 {
  width: 120px;
}

th.s200, td.s200 {
  width: 200px;
}

th.s320, td.s320 {
  width: 320px;
}

textarea.s320 {
  width: 320px;
}

/* //////////////////////////////////////////////////////////// anchor */
a:link,
a:visited,
a:active {
  color: #333;
}

a:link {
  text-decoration: underline;
}

a:hover, a:active {
  color: #999;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////// fontsize */
p, li, dt, dd, th, td {
  line-height: 1.75em;
}

p, h1, h2, h3, h4, li {
  font-weight: normal;
}

p {
  margin-bottom: 1em;
}

/* //////////////////////////////////////////////////////////// Base */
/*li {
	float:left;
}*/
img {
  vertical-align: top;
}

ul li img,
dl dt img,
dl dd img {
  vertical-align: bottom;
}

object {
  vertical-align: top;
}

/* //////////////////////////////////////////////////////////// HHH */
.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.w0 {
  width: 0px !important;
}

.w10 {
  width: 10px !important;
}

.w20 {
  width: 20px !important;
}

.w30 {
  width: 30px !important;
}

.w40 {
  width: 40px !important;
}

.w50 {
  width: 50px !important;
}

.w60 {
  width: 60px !important;
}

.w70 {
  width: 70px !important;
}

.w80 {
  width: 80px !important;
}

.w90 {
  width: 90px !important;
}

.w100 {
  width: 100px !important;
}

.w110 {
  width: 110px !important;
}

.w120 {
  width: 120px !important;
}

.w130 {
  width: 130px !important;
}

.w140 {
  width: 140px !important;
}

.w150 {
  width: 150px !important;
}

.w160 {
  width: 160px !important;
}

.w170 {
  width: 170px !important;
}

.w180 {
  width: 180px !important;
}

.w190 {
  width: 190px !important;
}

.w200 {
  width: 200px !important;
}

.w210 {
  width: 210px !important;
}

.w220 {
  width: 220px !important;
}

.w230 {
  width: 230px !important;
}

.w240 {
  width: 240px !important;
}

.w250 {
  width: 250px !important;
}

.w260 {
  width: 260px !important;
}

.w270 {
  width: 270px !important;
}

.w280 {
  width: 280px !important;
}

.w290 {
  width: 290px !important;
}

.w300 {
  width: 300px !important;
}

.w310 {
  width: 310px !important;
}

.w320 {
  width: 320px !important;
}

.w330 {
  width: 330px !important;
}

.w340 {
  width: 340px !important;
}

.w350 {
  width: 350px !important;
}

.w360 {
  width: 360px !important;
}

.w370 {
  width: 370px !important;
}

.w380 {
  width: 380px !important;
}

.w390 {
  width: 390px !important;
}

.w400 {
  width: 400px !important;
}

.w410 {
  width: 410px !important;
}

.w420 {
  width: 420px !important;
}

.w430 {
  width: 430px !important;
}

.w440 {
  width: 440px !important;
}

.w450 {
  width: 450px !important;
}

.w460 {
  width: 460px !important;
}

.w470 {
  width: 470px !important;
}

.w480 {
  width: 480px !important;
}

.w490 {
  width: 490px !important;
}

.w500 {
  width: 500px !important;
}

/* //////////////////////////////////////////////////////////// Utility */
/* = Selected Text */
::selection {
  background: #e2efec;
  /* Safari */
}

::-moz-selection {
  background: #e2efec;
}

.notice {
  color: #ff0000;
}

.error {
  color: #ff0000;
}
